---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&customer=cus_5M9mX08RN7LveT&source=card_15BRTY24ZtDFduJPlZjttQxX
    headers:
      Authorization:
      - Bearer sk_test_vr9EpWYdPjDwrPy1CqD9JMSJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-01-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17u1P124ZtDFduJPEpxrWXvK",
          "object": "charge",
          "amount": 100,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17u1P124ZtDFduJPFlllTWvn",
          "captured": true,
          "card": {
            "id": "card_15BRTY24ZtDFduJPlZjttQxX",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_5M9mX08RN7LveT",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 2,
            "exp_year": 2017,
            "fingerprint": "92PAaomEGHp37Ewo",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "type": "Visa"
          },
          "created": 1459175495,
          "currency": "usd",
          "customer": "cus_5M9mX08RN7LveT",
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": [],
          "shipping": null,
          "source": {
            "id": "card_15BRTY24ZtDFduJPlZjttQxX",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_5M9mX08RN7LveT",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 2,
            "exp_year": 2017,
            "fingerprint": "92PAaomEGHp37Ewo",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "type": "Visa"
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "paid",
          "statement_description": null
        }
  recorded_at: Mon, 28 Mar 2016 14:31:35 GMT
recorded_with: VCR 3.0.1
